.button1 {
    padding: 7px;
    color: #2962ff;
    background-color:white;
}
.button2 {
    padding: 7px;
    color: rgba(204, 32, 32, 0.89);
    background-color: wheat;
}
.button3 {
    padding: 7px;
    color: rgba(59, 4, 59, 0.767);
    background-color: thistle;
}
a:active {
 text-decoration: underline;
 color: yellow;
}
a:hover {
    color: rgba(6, 65, 24, 0.829);
}
a:visited {
    color: red;
}